<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for category in categories %}
            <a class="dropdown-item {% if category.pk == active_category %}active{% endif %}"
               href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        {% endfor %}
    </div>
</li>